<header>
  <nav>
    <div class="logo">
      <a routerLink="">
        <img src="assets/headerLogo.png" height="50" width="50" alt="Logo " />
      </a>
    </div>
    <div class="menu">
      <div class="links">
        <ul class="list">
          <li><a href="">HTML</a></li>
          <li><a href="">CSS</a></li>
          <li><a href="">JAVASCRIPT</a></li>
          <li><a href="">ANGULAR</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
      </div>

      <div class="btns">
        <button class="btn btn-success">Sign Up</button>
        <button class="btn btn-success">Log in</button>
        <button class="btn btn-primary">Create Article</button>
      </div>
    </div>
  </nav>
</header>
