<header>
  <nav>
    <div class="logo">
      <img src="assets/headerLogo.png" height="50" width="50" alt="Logo " />
    </div>
    <div class="menu">
      <div class="links">
        <ul class="list">
          <li><a href="">BLOG</a></li>
          <li><a href="">JAVA CODE</a></li>
          <li><a href="">SPRING MVC</a></li>
          <li><a href="">SERVICES</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
      </div>

      <div class="btns">
        <button>Sign Up</button>
        <button>Log In</button>
      </div>
    </div>
  </nav>
</header>
