<header>
  <nav>
    <div class="logo">
      <a routerLink="">
        <img src="assets/headerLogo.png" height="50" width="50" alt="Logo " />
      </a>
    </div>
    <div class="menu">
      <div class="links">
        <ul class="list">
          <li><a href="">HTML</a></li>
          <li><a href="">CSS</a></li>
          <li><a href="">JAVASCRIPT</a></li>
          <li><a href="">ANGULAR</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
      </div>

      <div class="btns">
        <button
          *ngIf="this.dataService.isUSerLoggedIn() === false"
          class="btn btn-success"
          routerLink="/signup"
        >
          Sign Up
        </button>

        <button
          *ngIf="this.dataService.isUSerLoggedIn() === false"
          class="btn btn-success"
          routerLink="/login"
        >
          Log in
        </button>

        <button
          *ngIf="this.dataService.isUSerLoggedIn() === true"
          class="btn btn-success"
          (click)="logout()"
        >
          Log Out
        </button>
        <button class="btn btn-primary">Create Article</button>
      </div>
    </div>
  </nav>
</header>
