/* Footer top area container CSS */
.top-area {
  background-color: #313030;
  padding: 80px 0;
}

/* Footer div1 CSS */
.foot-logo {
  margin-bottom: 20px;
}

.foot-logo img {
  max-width: 100%;
  height: auto;
}

.footer-para {
  line-height: 30px;
  color: white;
  text-align: justify;
}

/* Footer div2 CSS */
#foot-div2 h3 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.footer-links-div2 {
  padding-left: 0;
}

.footer-links-div2 li {
  width: 48%;
  margin-bottom: 20px;
  list-style: none;
  display: inline-block;
}

.footer-links-div2 li:before {
  color: #fdc800;
  content: "\f105";
  font-weight: 600;
  left: 0;
  top: 0;
}

.footer-links-div2 li a {
  padding-left: 15px;
  color: white;
  text-decoration: none;
}

/* Footer div3 CSS */
#foot-div3 h3 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.info-links {
  padding-left: 0;
}

.info-links li {
  list-style: none;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
}

.info-links li a {
  text-decoration: none;
  color: white;
}

.phone-info {
  padding-left: 0;
}

.phone-info li {
  list-style: none;
  margin-bottom: 5px;
  /* font-size: 16px; */
}

.phone-info a {
  color: white;
}

/* Footer div3 CSS */
#foot-div4 h3 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
