<div class="container">
  <div class="row">
    <div id="first" class="col-lg-6 col-md-6 col-12">
      <img src="assets/hello-world.jpg" alt="Hello World image" />
    </div>

    <div id="second" class="col-lg-6 col-md-6 col-12">
      <div class="register-heading">
        <h2>Register</h2>
        <p>Please fill in this form to create an account.</p>
      </div>

      <br />

      <!-- Form  -->
      <div class="resiterForm">
        <form #registerForm="ngForm" name="form" (ngSubmit)="onSubmit()">
          <!-- Username  -->
          <div class="form-group">
            <label for="username">Username*</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Enter Username"
              name="username"
              ngModel
              required
            />
          </div>

          <br />

          <!-- Email  -->
          <div class="form-group">
            <label for="email">Email*</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Enter email"
              name="email"
              ngModel
              required
              email
              #email="ngModel"
            />

            <small *ngIf="!email.valid && email.touched" class="text-danger"
              >Please Enter Valid Email</small
            >
          </div>

          <br />

          <!-- Phone No.  -->
          <div class="form-group">
            <label for="phone.">Phone No.</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              placeholder="Enter Phone No."
              name="phone"
              ngModel
            />
          </div>

          <br />

          <!-- Password  -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Enter Password"
              name="password"
              ngModel
              required
            />
            <p *ngIf="isUserRegistered" class="text-danger">{{ message }}</p>
          </div>

          <br />

          <!-- Radio Buttons for Gender  -->
          <!-- <div class="form-group">
            <div class="form-check" *ngFor="let gender of genders">
              <input
                type="radio"
                id="{{ gender.id }}"
                class="form-check-input"
                name="gender"
                [ngModel]="defaultGender"
                value="{{ gender.value }}"
              />
              <label class="form-check-label" for="{{ gender.id }}">
                {{ gender.value }}
              </label>
            </div>
          </div> -->

          <br />

          <!-- Submit Button  -->
          <div class="btns">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!registerForm.form.valid"
            >
              Create Account
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
