<p>footer works!</p>
<footer>
  <div class="top-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12" id="foot-div1">
          <div class="foot-logo">
            <h3>Your Logo</h3>
            <p>Your Tagline here</p>
          </div>

          <div class="footer-para1">
            <h4>About Us</h4>
            <p>
              We want to help bring talented students and unique startups
              together
            </p>
          </div>

          <div class="footer-para2">
            <h4>Contact Us</h4>
            <p>+91 9999 999 999</p>
            <p>youremail.com</p>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-12" id="foot-div2">
          <h3>Information</h3>
          <div>
            <ul class="footer-links-div2">
              <li><a href="#">About Us</a></li>
              <li><a href="#">More Search</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Events</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12" id="foot-div3">
          <h3>Helpful Links</h3>
          <div>
            <ul class="footer-links-div3">
              <li><a href="#">Services</a></li>
              <li><a href="#">Supports</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12" id="foot-div4">
          <h4>Subscribe More Info</h4>
          <input type="text" placeholder="Enter your Email" />
          <button>Subscribe</button>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-area">
    <p>2010 #&169 Company Ltd. &nbsp;&nbsp; All Rights Reserved.</p>
  </div>
</footer>
