.container {
  padding: 30px 20px;
}

.head h3 {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  color: red;
}

.latest-art {
  padding: 5px;
  /* border-top: 1px solid darkgrey; */
  /* border-bottom: 1px solid darkgrey; */
}

.latest-art h5 {
  font-size: 18px;
  color: #000;
}

.latest-art h2 {
  margin-bottom: 5px;
  color: dimgray;
  cursor: pointer;
}
